:root {
    --enchird-primaryenchird-primary-1: rgba(34, 24, 167, 1);
    --enchird-primaryenchird-primary-2: rgba(58, 49, 179, 1);
    --enchird-primaryenchird-primary-3: rgba(82, 72, 213, 1);
    --enchird-primaryenchird-primary-4: rgba(112, 103, 230, 1);
    --enchird-primaryenchird-primary-5: rgba(176, 171, 253, 1);
    --enchird-blackenchird-black-1: rgba(0, 0, 0, 1);
    --enchird-blackenchird-black-2: rgba(31, 32, 31, 1);
    --enchird-blackenchird-black-3: rgba(54, 55, 54, 1);
    --enchird-blackenchird-black-4: rgba(78, 80, 78, 1);
    --enchird-blackenchird-black-5: rgba(129, 131, 129, 1);
    --enchird-accentenchird-accent-1: rgba(128, 0, 128, 1);
    --enchird-accentenchird-accent-2: rgba(149, 27, 149, 1);
    --enchird-accentenchird-accent-3: rgba(191, 57, 191, 1);
    --enchird-accentenchird-accent-4: rgba(219, 90, 219, 1);
    --enchird-accentenchird-accent-5: rgba(245, 154, 245, 1);
    --enchird-whiteenchird-white-1: rgba(255, 255, 255, 1);
    --enchird-whiteenchird-white-2: rgba(241, 241, 241, 1);
    --enchird-whiteenchird-white-3: rgba(227, 227, 227, 1);
    --desktop-h1-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h1-bold-font-weight: 800;
    --desktop-h1-bold-font-size: 70px;
    --desktop-h1-bold-letter-spacing: 0px;
    --desktop-h1-bold-line-height: normal;
    --desktop-h1-bold-font-style: normal;
    --desktop-h1-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h1-semibold-font-weight: 700;
    --desktop-h1-semibold-font-size: 70px;
    --desktop-h1-semibold-letter-spacing: 0px;
    --desktop-h1-semibold-line-height: normal;
    --desktop-h1-semibold-font-style: normal;
    --desktop-h1-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h1-regular-font-weight: 500;
    --desktop-h1-regular-font-size: 70px;
    --desktop-h1-regular-letter-spacing: 0px;
    --desktop-h1-regular-line-height: normal;
    --desktop-h1-regular-font-style: normal;
    --desktop-h1-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h1-semiregular-font-weight: 400;
    --desktop-h1-semiregular-font-size: 70px;
    --desktop-h1-semiregular-letter-spacing: 0px;
    --desktop-h1-semiregular-line-height: normal;
    --desktop-h1-semiregular-font-style: normal;
    --desktop-h2-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h2-bold-font-weight: 800;
    --desktop-h2-bold-font-size: 65px;
    --desktop-h2-bold-letter-spacing: 0px;
    --desktop-h2-bold-line-height: normal;
    --desktop-h2-bold-font-style: normal;
    --desktop-h2-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h2-semibold-font-weight: 700;
    --desktop-h2-semibold-font-size: 65px;
    --desktop-h2-semibold-letter-spacing: 0px;
    --desktop-h2-semibold-line-height: normal;
    --desktop-h2-semibold-font-style: normal;
    --desktop-h2-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h2-regular-font-weight: 500;
    --desktop-h2-regular-font-size: 65px;
    --desktop-h2-regular-letter-spacing: 0px;
    --desktop-h2-regular-line-height: normal;
    --desktop-h2-regular-font-style: normal;
    --desktop-h2-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h2-semiregular-font-weight: 400;
    --desktop-h2-semiregular-font-size: 65px;
    --desktop-h2-semiregular-letter-spacing: 0px;
    --desktop-h2-semiregular-line-height: normal;
    --desktop-h2-semiregular-font-style: normal;
    --desktop-h3-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h3-bold-font-weight: 800;
    --desktop-h3-bold-font-size: 55px;
    --desktop-h3-bold-letter-spacing: 0px;
    --desktop-h3-bold-line-height: normal;
    --desktop-h3-bold-font-style: normal;
    --desktop-h3-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h3-semibold-font-weight: 700;
    --desktop-h3-semibold-font-size: 55px;
    --desktop-h3-semibold-letter-spacing: 0px;
    --desktop-h3-semibold-line-height: normal;
    --desktop-h3-semibold-font-style: normal;
    --desktop-h3-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h3-regular-font-weight: 500;
    --desktop-h3-regular-font-size: 55px;
    --desktop-h3-regular-letter-spacing: 0px;
    --desktop-h3-regular-line-height: normal;
    --desktop-h3-regular-font-style: normal;
    --desktop-h3-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h3-semiregular-font-weight: 400;
    --desktop-h3-semiregular-font-size: 55px;
    --desktop-h3-semiregular-letter-spacing: 0px;
    --desktop-h3-semiregular-line-height: normal;
    --desktop-h3-semiregular-font-style: normal;
    --desktop-h4-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h4-bold-font-weight: 800;
    --desktop-h4-bold-font-size: 40px;
    --desktop-h4-bold-letter-spacing: 0px;
    --desktop-h4-bold-line-height: normal;
    --desktop-h4-bold-font-style: normal;
    --desktop-h4-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h4-semibold-font-weight: 700;
    --desktop-h4-semibold-font-size: 40px;
    --desktop-h4-semibold-letter-spacing: 0px;
    --desktop-h4-semibold-line-height: normal;
    --desktop-h4-semibold-font-style: normal;
    --desktop-h4-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h4-regular-font-weight: 500;
    --desktop-h4-regular-font-size: 40px;
    --desktop-h4-regular-letter-spacing: 0px;
    --desktop-h4-regular-line-height: normal;
    --desktop-h4-regular-font-style: normal;
    --desktop-h4-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h4-semiregular-font-weight: 400;
    --desktop-h4-semiregular-font-size: 40px;
    --desktop-h4-semiregular-letter-spacing: 0px;
    --desktop-h4-semiregular-line-height: normal;
    --desktop-h4-semiregular-font-style: normal;
    --desktop-h5-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h5-bold-font-weight: 800;
    --desktop-h5-bold-font-size: 30px;
    --desktop-h5-bold-letter-spacing: 0px;
    --desktop-h5-bold-line-height: normal;
    --desktop-h5-bold-font-style: normal;
    --desktop-h5-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h5-semibold-font-weight: 700;
    --desktop-h5-semibold-font-size: 30px;
    --desktop-h5-semibold-letter-spacing: 0px;
    --desktop-h5-semibold-line-height: normal;
    --desktop-h5-semibold-font-style: normal;
    --desktop-h5-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h5-regular-font-weight: 500;
    --desktop-h5-regular-font-size: 30px;
    --desktop-h5-regular-letter-spacing: 0px;
    --desktop-h5-regular-line-height: normal;
    --desktop-h5-regular-font-style: normal;
    --desktop-h5-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h5-semiregular-font-weight: 400;
    --desktop-h5-semiregular-font-size: 30px;
    --desktop-h5-semiregular-letter-spacing: 0px;
    --desktop-h5-semiregular-line-height: normal;
    --desktop-h5-semiregular-font-style: normal;
    --desktop-h6-bold-font-family: "Inter-ExtraBold", Helvetica;
    --desktop-h6-bold-font-weight: 800;
    --desktop-h6-bold-font-size: 25px;
    --desktop-h6-bold-letter-spacing: 0px;
    --desktop-h6-bold-line-height: normal;
    --desktop-h6-bold-font-style: normal;
    --desktop-h6-semibold-font-family: "Inter-Bold", Helvetica;
    --desktop-h6-semibold-font-weight: 700;
    --desktop-h6-semibold-font-size: 25px;
    --desktop-h6-semibold-letter-spacing: 0px;
    --desktop-h6-semibold-line-height: normal;
    --desktop-h6-semibold-font-style: normal;
    --desktop-h6-regular-font-family: "Inter-Medium", Helvetica;
    --desktop-h6-regular-font-weight: 500;
    --desktop-h6-regular-font-size: 25px;
    --desktop-h6-regular-letter-spacing: 0px;
    --desktop-h6-regular-line-height: normal;
    --desktop-h6-regular-font-style: normal;
    --desktop-h6-semiregular-font-family: "Inter-Regular", Helvetica;
    --desktop-h6-semiregular-font-weight: 400;
    --desktop-h6-semiregular-font-size: 25px;
    --desktop-h6-semiregular-letter-spacing: 0px;
    --desktop-h6-semiregular-line-height: normal;
    --desktop-h6-semiregular-font-style: normal;
    --bodytext-bold-18-font-family: "Inter-ExtraBold", Helvetica;
    --bodytext-bold-18-font-weight: 800;
    --bodytext-bold-18-font-size: 18px;
    --bodytext-bold-18-letter-spacing: 0px;
    --bodytext-bold-18-line-height: normal;
    --bodytext-bold-18-font-style: normal;
    --bodytext-bold-16-font-family: "Inter-ExtraBold", Helvetica;
    --bodytext-bold-16-font-weight: 800;
    --bodytext-bold-16-font-size: 16px;
    --bodytext-bold-16-letter-spacing: 0px;
    --bodytext-bold-16-line-height: normal;
    --bodytext-bold-16-font-style: normal;
    --bodytext-bold-14-font-family: "Inter-ExtraBold", Helvetica;
    --bodytext-bold-14-font-weight: 800;
    --bodytext-bold-14-font-size: 14px;
    --bodytext-bold-14-letter-spacing: 0px;
    --bodytext-bold-14-line-height: normal;
    --bodytext-bold-14-font-style: normal;
    --bodytext-bold-12-font-family: "Inter-ExtraBold", Helvetica;
    --bodytext-bold-12-font-weight: 800;
    --bodytext-bold-12-font-size: 12px;
    --bodytext-bold-12-letter-spacing: 0px;
    --bodytext-bold-12-line-height: normal;
    --bodytext-bold-12-font-style: normal;
    --bodytext-semibold-18-font-family: "Inter-Bold", Helvetica;
    --bodytext-semibold-18-font-weight: 700;
    --bodytext-semibold-18-font-size: 18px;
    --bodytext-semibold-18-letter-spacing: 0px;
    --bodytext-semibold-18-line-height: normal;
    --bodytext-semibold-18-font-style: normal;
    --bodytext-semibold-16-font-family: "Inter-Bold", Helvetica;
    --bodytext-semibold-16-font-weight: 700;
    --bodytext-semibold-16-font-size: 16px;
    --bodytext-semibold-16-letter-spacing: 0px;
    --bodytext-semibold-16-line-height: normal;
    --bodytext-semibold-16-font-style: normal;
    --bodytext-semibold-14-font-family: "Inter-Bold", Helvetica;
    --bodytext-semibold-14-font-weight: 700;
    --bodytext-semibold-14-font-size: 14px;
    --bodytext-semibold-14-letter-spacing: 0px;
    --bodytext-semibold-14-line-height: normal;
    --bodytext-semibold-14-font-style: normal;
    --bodytext-semibold-12-font-family: "Inter-Bold", Helvetica;
    --bodytext-semibold-12-font-weight: 700;
    --bodytext-semibold-12-font-size: 12px;
    --bodytext-semibold-12-letter-spacing: 0px;
    --bodytext-semibold-12-line-height: normal;
    --bodytext-semibold-12-font-style: normal;
    --bodytext-regular-18-font-family: "Inter-Medium", Helvetica;
    --bodytext-regular-18-font-weight: 500;
    --bodytext-regular-18-font-size: 18px;
    --bodytext-regular-18-letter-spacing: 0px;
    --bodytext-regular-18-line-height: normal;
    --bodytext-regular-18-font-style: normal;
    --bodytext-regular-16-font-family: "Inter-Medium", Helvetica;
    --bodytext-regular-16-font-weight: 500;
    --bodytext-regular-16-font-size: 16px;
    --bodytext-regular-16-letter-spacing: 0px;
    --bodytext-regular-16-line-height: normal;
    --bodytext-regular-16-font-style: normal;
    --bodytext-regular-14-font-family: "Inter-Medium", Helvetica;
    --bodytext-regular-14-font-weight: 500;
    --bodytext-regular-14-font-size: 14px;
    --bodytext-regular-14-letter-spacing: 0px;
    --bodytext-regular-14-line-height: normal;
    --bodytext-regular-14-font-style: normal;
    --bodytext-regular-12-font-family: "Inter-Medium", Helvetica;
    --bodytext-regular-12-font-weight: 500;
    --bodytext-regular-12-font-size: 12px;
    --bodytext-regular-12-letter-spacing: 0px;
    --bodytext-regular-12-line-height: normal;
    --bodytext-regular-12-font-style: normal;
    --bodytext-semiregular-18-font-family: "Inter-Regular", Helvetica;
    --bodytext-semiregular-18-font-weight: 400;
    --bodytext-semiregular-18-font-size: 18px;
    --bodytext-semiregular-18-letter-spacing: 0px;
    --bodytext-semiregular-18-line-height: normal;
    --bodytext-semiregular-18-font-style: normal;
    --bodytext-semiregular-16-font-family: "Inter-Regular", Helvetica;
    --bodytext-semiregular-16-font-weight: 400;
    --bodytext-semiregular-16-font-size: 14px;
    --bodytext-semiregular-16-letter-spacing: 0px;
    --bodytext-semiregular-16-line-height: normal;
    --bodytext-semiregular-16-font-style: normal;
    --bodytext-semiregular-14-font-family: "Inter-Regular", Helvetica;
    --bodytext-semiregular-14-font-weight: 400;
    --bodytext-semiregular-14-font-size: 14px;
    --bodytext-semiregular-14-letter-spacing: 0px;
    --bodytext-semiregular-14-line-height: normal;
    --bodytext-semiregular-14-font-style: normal;
    --bodytext-semiregular-12-font-family: "Inter-Regular", Helvetica;
    --bodytext-semiregular-12-font-weight: 400;
    --bodytext-semiregular-12-font-size: 12px;
    --bodytext-semiregular-12-letter-spacing: 0px;
    --bodytext-semiregular-12-line-height: normal;
    --bodytext-semiregular-12-font-style: normal;
    --tablet-h1-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h1-bold-font-weight: 800;
    --tablet-h1-bold-font-size: 48px;
    --tablet-h1-bold-letter-spacing: 0px;
    --tablet-h1-bold-line-height: normal;
    --tablet-h1-bold-font-style: normal;
    --tablet-h1-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h1-semibold-font-weight: 700;
    --tablet-h1-semibold-font-size: 48px;
    --tablet-h1-semibold-letter-spacing: 0px;
    --tablet-h1-semibold-line-height: normal;
    --tablet-h1-semibold-font-style: normal;
    --tablet-h1-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h1-regular-font-weight: 500;
    --tablet-h1-regular-font-size: 48px;
    --tablet-h1-regular-letter-spacing: 0px;
    --tablet-h1-regular-line-height: normal;
    --tablet-h1-regular-font-style: normal;
    --tablet-h1-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h1-semiregular-font-weight: 400;
    --tablet-h1-semiregular-font-size: 48px;
    --tablet-h1-semiregular-letter-spacing: 0px;
    --tablet-h1-semiregular-line-height: normal;
    --tablet-h1-semiregular-font-style: normal;
    --tablet-h2-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h2-bold-font-weight: 800;
    --tablet-h2-bold-font-size: 44px;
    --tablet-h2-bold-letter-spacing: 0px;
    --tablet-h2-bold-line-height: normal;
    --tablet-h2-bold-font-style: normal;
    --tablet-h2-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h2-semibold-font-weight: 700;
    --tablet-h2-semibold-font-size: 44px;
    --tablet-h2-semibold-letter-spacing: 0px;
    --tablet-h2-semibold-line-height: normal;
    --tablet-h2-semibold-font-style: normal;
    --tablet-h2-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h2-regular-font-weight: 500;
    --tablet-h2-regular-font-size: 44px;
    --tablet-h2-regular-letter-spacing: 0px;
    --tablet-h2-regular-line-height: normal;
    --tablet-h2-regular-font-style: normal;
    --tablet-h2-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h2-semiregular-font-weight: 400;
    --tablet-h2-semiregular-font-size: 44px;
    --tablet-h2-semiregular-letter-spacing: 0px;
    --tablet-h2-semiregular-line-height: normal;
    --tablet-h2-semiregular-font-style: normal;
    --tablet-h3-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h3-bold-font-weight: 800;
    --tablet-h3-bold-font-size: 40px;
    --tablet-h3-bold-letter-spacing: 0px;
    --tablet-h3-bold-line-height: normal;
    --tablet-h3-bold-font-style: normal;
    --tablet-h3-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h3-semibold-font-weight: 700;
    --tablet-h3-semibold-font-size: 40px;
    --tablet-h3-semibold-letter-spacing: 0px;
    --tablet-h3-semibold-line-height: normal;
    --tablet-h3-semibold-font-style: normal;
    --tablet-h3-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h3-regular-font-weight: 500;
    --tablet-h3-regular-font-size: 40px;
    --tablet-h3-regular-letter-spacing: 0px;
    --tablet-h3-regular-line-height: normal;
    --tablet-h3-regular-font-style: normal;
    --tablet-h3-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h3-semiregular-font-weight: 400;
    --tablet-h3-semiregular-font-size: 40px;
    --tablet-h3-semiregular-letter-spacing: 0px;
    --tablet-h3-semiregular-line-height: normal;
    --tablet-h3-semiregular-font-style: normal;
    --tablet-h4-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h4-bold-font-weight: 800;
    --tablet-h4-bold-font-size: 36px;
    --tablet-h4-bold-letter-spacing: 0px;
    --tablet-h4-bold-line-height: normal;
    --tablet-h4-bold-font-style: normal;
    --tablet-h4-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h4-semibold-font-weight: 700;
    --tablet-h4-semibold-font-size: 36px;
    --tablet-h4-semibold-letter-spacing: 0px;
    --tablet-h4-semibold-line-height: normal;
    --tablet-h4-semibold-font-style: normal;
    --tablet-h4-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h4-regular-font-weight: 500;
    --tablet-h4-regular-font-size: 36px;
    --tablet-h4-regular-letter-spacing: 0px;
    --tablet-h4-regular-line-height: normal;
    --tablet-h4-regular-font-style: normal;
    --tablet-h4-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h4-semiregular-font-weight: 400;
    --tablet-h4-semiregular-font-size: 36px;
    --tablet-h4-semiregular-letter-spacing: 0px;
    --tablet-h4-semiregular-line-height: normal;
    --tablet-h4-semiregular-font-style: normal;
    --tablet-h5-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h5-bold-font-weight: 800;
    --tablet-h5-bold-font-size: 28px;
    --tablet-h5-bold-letter-spacing: 0px;
    --tablet-h5-bold-line-height: normal;
    --tablet-h5-bold-font-style: normal;
    --tablet-h5-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h5-semibold-font-weight: 700;
    --tablet-h5-semibold-font-size: 28px;
    --tablet-h5-semibold-letter-spacing: 0px;
    --tablet-h5-semibold-line-height: normal;
    --tablet-h5-semibold-font-style: normal;
    --tablet-h5-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h5-regular-font-weight: 500;
    --tablet-h5-regular-font-size: 28px;
    --tablet-h5-regular-letter-spacing: 0px;
    --tablet-h5-regular-line-height: normal;
    --tablet-h5-regular-font-style: normal;
    --tablet-h5-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h5-semiregular-font-weight: 400;
    --tablet-h5-semiregular-font-size: 28px;
    --tablet-h5-semiregular-letter-spacing: 0px;
    --tablet-h5-semiregular-line-height: normal;
    --tablet-h5-semiregular-font-style: normal;
    --tablet-h6-bold-font-family: "Inter-ExtraBold", Helvetica;
    --tablet-h6-bold-font-weight: 800;
    --tablet-h6-bold-font-size: 24px;
    --tablet-h6-bold-letter-spacing: 0px;
    --tablet-h6-bold-line-height: normal;
    --tablet-h6-bold-font-style: normal;
    --tablet-h6-semibold-font-family: "Inter-Bold", Helvetica;
    --tablet-h6-semibold-font-weight: 700;
    --tablet-h6-semibold-font-size: 24px;
    --tablet-h6-semibold-letter-spacing: 0px;
    --tablet-h6-semibold-line-height: normal;
    --tablet-h6-semibold-font-style: normal;
    --tablet-h6-regular-font-family: "Inter-Medium", Helvetica;
    --tablet-h6-regular-font-weight: 500;
    --tablet-h6-regular-font-size: 24px;
    --tablet-h6-regular-letter-spacing: 0px;
    --tablet-h6-regular-line-height: normal;
    --tablet-h6-regular-font-style: normal;
    --tablet-h6-semiregular-font-family: "Inter-Regular", Helvetica;
    --tablet-h6-semiregular-font-weight: 400;
    --tablet-h6-semiregular-font-size: 24px;
    --tablet-h6-semiregular-letter-spacing: 0px;
    --tablet-h6-semiregular-line-height: normal;
    --tablet-h6-semiregular-font-style: normal;
    --mobile-h1-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h1-bold-font-weight: 800;
    --mobile-h1-bold-font-size: 40px;
    --mobile-h1-bold-letter-spacing: 0px;
    --mobile-h1-bold-line-height: normal;
    --mobile-h1-bold-font-style: normal;
    --mobile-h1-semibold-font-family: "Inter-Bold", Helvetica;
    --mobile-h1-semibold-font-weight: 700;
    --mobile-h1-semibold-font-size: 40px;
    --mobile-h1-semibold-letter-spacing: 0px;
    --mobile-h1-semibold-line-height: normal;
    --mobile-h1-semibold-font-style: normal;
    --mobile-h1-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h1-regular-font-weight: 500;
    --mobile-h1-regular-font-size: 40px;
    --mobile-h1-regular-letter-spacing: 0px;
    --mobile-h1-regular-line-height: normal;
    --mobile-h1-regular-font-style: normal;
    --mobile-h1-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h1-semiregular-font-weight: 400;
    --mobile-h1-semiregular-font-size: 40px;
    --mobile-h1-semiregular-letter-spacing: 0px;
    --mobile-h1-semiregular-line-height: normal;
    --mobile-h1-semiregular-font-style: normal;
    --mobile-h2-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h2-bold-font-weight: 800;
    --mobile-h2-bold-font-size: 36px;
    --mobile-h2-bold-letter-spacing: 0px;
    --mobile-h2-bold-line-height: normal;
    --mobile-h2-bold-font-style: normal;
    --mobile-h2-semibold-font-family: "Inter-Bold", Helvetica;
    --mobile-h2-semibold-font-weight: 700;
    --mobile-h2-semibold-font-size: 36px;
    --mobile-h2-semibold-letter-spacing: 0px;
    --mobile-h2-semibold-line-height: normal;
    --mobile-h2-semibold-font-style: normal;
    --mobile-h2-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h2-regular-font-weight: 500;
    --mobile-h2-regular-font-size: 36px;
    --mobile-h2-regular-letter-spacing: 0px;
    --mobile-h2-regular-line-height: normal;
    --mobile-h2-regular-font-style: normal;
    --mobile-h2-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h2-semiregular-font-weight: 400;
    --mobile-h2-semiregular-font-size: 36px;
    --mobile-h2-semiregular-letter-spacing: 0px;
    --mobile-h2-semiregular-line-height: normal;
    --mobile-h2-semiregular-font-style: normal;
    --mobile-h3-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h3-bold-font-weight: 800;
    --mobile-h3-bold-font-size: 32px;
    --mobile-h3-bold-letter-spacing: 0px;
    --mobile-h3-bold-line-height: normal;
    --mobile-h3-bold-font-style: normal;
    --mobile-h3-semibold-font-family: "Inter-Bold", Helvetica;
    --mobile-h3-semibold-font-weight: 700;
    --mobile-h3-semibold-font-size: 32px;
    --mobile-h3-semibold-letter-spacing: 0px;
    --mobile-h3-semibold-line-height: normal;
    --mobile-h3-semibold-font-style: normal;
    --mobile-h3-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h3-regular-font-weight: 500;
    --mobile-h3-regular-font-size: 32px;
    --mobile-h3-regular-letter-spacing: 0px;
    --mobile-h3-regular-line-height: normal;
    --mobile-h3-regular-font-style: normal;
    --mobile-h3-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h3-semiregular-font-weight: 400;
    --mobile-h3-semiregular-font-size: 32px;
    --mobile-h3-semiregular-letter-spacing: 0px;
    --mobile-h3-semiregular-line-height: normal;
    --mobile-h3-semiregular-font-style: normal;
    --mobile-h4-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h4-bold-font-weight: 800;
    --mobile-h4-bold-font-size: 28px;
    --mobile-h4-bold-letter-spacing: 0px;
    --mobile-h4-bold-line-height: normal;
    --mobile-h4-bold-font-style: normal;
    --mobile-h4-semibold-font-family: "Inter-Bold", Helvetica;
    --mobile-h4-semibold-font-weight: 700;
    --mobile-h4-semibold-font-size: 28px;
    --mobile-h4-semibold-letter-spacing: 0px;
    --mobile-h4-semibold-line-height: normal;
    --mobile-h4-semibold-font-style: normal;
    --mobile-h4-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h4-regular-font-weight: 500;
    --mobile-h4-regular-font-size: 28px;
    --mobile-h4-regular-letter-spacing: 0px;
    --mobile-h4-regular-line-height: normal;
    --mobile-h4-regular-font-style: normal;
    --mobile-h4-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h4-semiregular-font-weight: 400;
    --mobile-h4-semiregular-font-size: 28px;
    --mobile-h4-semiregular-letter-spacing: 0px;
    --mobile-h4-semiregular-line-height: normal;
    --mobile-h4-semiregular-font-style: normal;
    --mobile-h5-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h5-bold-font-weight: 800;
    --mobile-h5-bold-font-size: 24px;
    --mobile-h5-bold-letter-spacing: 0px;
    --mobile-h5-bold-line-height: normal;
    --mobile-h5-bold-font-style: normal;
    --mobile-h5-semibold-font-family: "Inter-Bold", Helvetica;
    --mobile-h5-semibold-font-weight: 700;
    --mobile-h5-semibold-font-size: 24px;
    --mobile-h5-semibold-letter-spacing: 0px;
    --mobile-h5-semibold-line-height: normal;
    --mobile-h5-semibold-font-style: normal;
    --mobile-h5-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h5-regular-font-weight: 500;
    --mobile-h5-regular-font-size: 24px;
    --mobile-h5-regular-letter-spacing: 0px;
    --mobile-h5-regular-line-height: normal;
    --mobile-h5-regular-font-style: normal;
    --mobile-h5-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h5-semiregular-font-weight: 400;
    --mobile-h5-semiregular-font-size: 24px;
    --mobile-h5-semiregular-letter-spacing: 0px;
    --mobile-h5-semiregular-line-height: normal;
    --mobile-h5-semiregular-font-style: normal;
    --mobile-h6-bold-font-family: "Inter-ExtraBold", Helvetica;
    --mobile-h6-bold-font-weight: 800;
    --mobile-h6-bold-font-size: 20px;
    --mobile-h6-bold-letter-spacing: 0px;
    --mobile-h6-bold-line-height: normal;
    --mobile-h6-bold-font-style: normal;
    --mobile-h6-semibold-font-family: "Inter-Medium", Helvetica;
    --mobile-h6-semibold-font-weight: 500;
    --mobile-h6-semibold-font-size: 20px;
    --mobile-h6-semibold-letter-spacing: 0px;
    --mobile-h6-semibold-line-height: normal;
    --mobile-h6-semibold-font-style: normal;
    --mobile-h6-regular-font-family: "Inter-Medium", Helvetica;
    --mobile-h6-regular-font-weight: 500;
    --mobile-h6-regular-font-size: 20px;
    --mobile-h6-regular-letter-spacing: 0px;
    --mobile-h6-regular-line-height: normal;
    --mobile-h6-regular-font-style: normal;
    --mobile-h6-semiregular-font-family: "Inter-Regular", Helvetica;
    --mobile-h6-semiregular-font-weight: 400;
    --mobile-h6-semiregular-font-size: 20px;
    --mobile-h6-semiregular-letter-spacing: 0px;
    --mobile-h6-semiregular-line-height: normal;
    --mobile-h6-semiregular-font-style: normal;
  }
  