<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enchird</title>
</head>

<body>
    <main style="max-width: 600px; padding: 40px; color: #1F201F; font-family: Inter; line-height: 24px;">
        <p>Dear <strong>[Student's Name]</strong></p>

        <div>
            <p style="margin-block: 25px;">
                I hope this email finds you well. I am writing to inform you of the admissions decision for your
                application to the <strong>[Field of Studies]</strong> program at [University Name]. After careful
                consideration, we
                regret to inform you that your application has not been successful.

            </p>

            <p style="margin-block: 25px;">
                We understand that this news may be disappointing, and we want to express our appreciation for the time
                and effort you invested in your application to <strong>[University Name]</strong>. The admissions
                process is highly
                competitive, and unfortunately, we are unable to offer a place in the <strong>[Field of
                    Studies]</strong> program at this
                time.
            </p>

            <p style="margin-block: 25px;">We encourage you to explore alternative educational opportunities and
                consider other institutions that
                align with your academic and personal goals. If you have any specific feedback on your application or
                would like guidance on potential areas for improvement, please do not hesitate to reach out to our
                <strong>[Admissions Office]</strong> at <strong>[contact email/phone number]</strong>.
            </p>

        </div>

        <div>
            <p style="margin-block: 25px;">
                Remember that this decision does not define your capabilities or potential for success. Many successful
                individuals have faced initial setbacks and found new paths that ultimately led to fulfilling and
                rewarding experiences.
            </p>
            <p style="margin-block: 25px;">
                We appreciate your interest in <strong>[University Name]</strong>, and we wish you the very best in your
                academic and
                personal endeavors. If you have any questions or need further assistance, please feel free to contact
                our <strong>[Admissions Office/Student Services]</strong>.
            </p>
            <p style="margin-block: 25px;">
                Thank you for considering <strong>[University Name]</strong>, and we extend our best wishes for your
                future endeavors.

            </p>
        </div>

        <div>
            <p style="margin-block: 20px;">Kind regards,</p>

            <div>
                <p style="margin: 0; margin-block-end: 4px;"><strong>[Your Full Name]</strong></p>
                <p style="margin: 0; margin-block-end: 4px;"><strong>[Your Title]</strong> </p>
                <p style="margin: 0; margin-block-end: 4px;"><strong>[Faculty/Department Name]</strong> </p>
                <p style="margin: 0; margin-block-end: 4px;"><strong>[University Name]</strong> </p>
                <p style="margin: 0; margin-block-end: 4px;"><strong>[Contact Information]</strong> </p>
            </div>
        </div>


        <div style="text-align: center; font-size: 16px; margin-top: 35px;">
            <p style="margin: 0; margin-block-end: 10px;"><a href=""
                    style="color:black; font-weight: bold; ">Enchird</a></p>
            <p style="margin: 0; margin-block-end: 10px;">Brings you closer to learning</p>
            <p style="margin: 0; margin-block-end: 10px;">Copyright &copy; 2024</p>
        </div>
    </main>
</body>

</html>