<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enchird</title>
</head>

<body>
    <main style="max-width: 600px; padding: 40px; color: #1F201F; font-family: Inter; line-height: 24px;">
        <p>Dear <strong>[Teacher's Name]</strong></p>

        <div>
            <p style="margin-block: 25px;">
                Welcome to <strong>[Your School/Institution]</strong>! We are excited to have you on board as a teacher.
                Below are your login credentials to access our system:
            </p>

            <div>
                <p style="margin: 0;">Username: <strong>[Teacher's Email Address]</strong></p>
                <p style="margin: 0;">Temporary Password: <strong>[Temporary Password]</strong></p>
            </div>

            <p style="margin-block: 25px;">
                Please use the provided credentials to log in to our system at <strong>[Login URL]</strong>.

            </p>
        </div>

        <div>
            <p style="margin-block: 25px;">Upon your first login, you will be prompted to change your password. Ensure
                that your new password meets our security requirements.

            </p>

            <p style="margin-block: 25px;">
                If you encounter any issues or have questions, feel free to reach out to our support team at
                <strong>[Support Email/Contact]</strong>.

            </p>
        </div>

        <div>
            <p style="margin-block: 20px;">Best regards,</p>

            <div>
                <p style="margin: 0; margin-block-end: 2px;"><strong>[Your Full Name]</strong></p>
                <p style="margin: 0; margin-block-end: 2px;"><strong>[Your Title]</strong> </p>
                <p style="margin: 0; margin-block-end: 2px;"><strong>[Faculty/Department Name]</strong> </p>
                <p style="margin: 0; margin-block-end: 2px;"><strong>[University Name]</strong> </p>
                <p style="margin: 0; margin-block-end: 2px;"><strong>[Contact Information]</strong> </p>
            </div>
        </div>


        <div style=" margin-block: 35px;">
            <div style="margin-block: 24px;">
                <h4 style="font-size: 20px; color: black; font-weight: bold; margin: 0; margin-block-end: 10px;">
                    Please follow this link to setup your account profile</h4>
                <button
                    style="width: 100%; padding-block: 24px; background-color: #2218A7; border: 0; border-radius: 4px; color:white; cursor: pointer;">See
                    Setup My Profile</button>
            </div>
        </div>

        <div style="text-align: center; font-size: 16px;">
            <p style="margin: 0; margin-block-end: 10px;"><a href=""
                    style="color:black; font-weight: bold; ">Enchird</a></p>
            <p style="margin: 0; margin-block-end: 10px;">Brings you closer to learning</p>
            <p style="margin: 0; margin-block-end: 10px;">Copyright &copy; 2024</p>
        </div>
    </main>
</body>

</html>